<head><script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script><!-- Global site tag (gtag.js) - Google Analytics --><script async src='https://www.googletagmanager.com/gtag/js?id=UA-114179857-1'></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-114179857-1');</script><style>table{border-collapse: collapse;}td{border: 1px solid grey;} .btn img{width:20px;height:20px;}</style><br>Updated at 2018-04-10 16:19:29 +1200. <br /><a href='https://docs.google.com/spreadsheets/d/1B1-vLMpOBHHGRIKcU2z98YlyuDXNi4BG7v8scNDUF20/edit#gid=0' target='_blank'>Google sheet</a><br /><table>      <tr>
        <td>Address</td>
        <td>Price</td>
        <td>Description</td>
        <td>Pic</td>
        <td>Company</td>
        <td>Scraped</td>
      </tr>
        <tr id="row_0">
          <td><img src="https://southernwiderealestate.co.nz/assets/listings/_resampled/FillWyIzMDAiLCIyMDAiXQ/SWOC11046_01.jpg" height="200" /></td>
          <td><a href="https://southernwiderealestate.co.nz/listing/SWOC11046"></a></td>
          <td>$31,000 + GST</td>
          <td>If you are after office space look no further. Finance House comes with five offices (all recently done up), two entrances one with automatic doors off Wear Street. Floor space of approx. 200sqm. Wear Street is in the hub of the CBD the Vendor is looking at around $31,000pa plus GST and outgoings. Call Cliff today for ...</td>
          <td>Southern Wide</td>
          <td>
            <a href="https://southernwiderealestate.co.nz/listing/SWOC11046">2018-04-10 16:19:17 +1200</a>
            <button class="btn" data-clipboard-target="#row_0"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_1">
          <td><img src="http://photos.harcourts.co.nz/V2/000/029/863/147-DU94852-Dunedin-City.jpg" height="200" /></td>
          <td><a href="http://harcourts.co.nz/Property/844044/DU94852/24-24A-Cutten-Street">South Dunedin, 24 & 24A Cutten Street</a></td>
          <td>Price by Negotiation</td>
          <td>Just waiting on the new title for the sub division. You can take your pick of an extremely well renovated 2 bedroom home that is all double glazed and stylish. Or the rear 363m2 section that is...</td>
          <td>Harcourts</td>
          <td>
            <a href="http://harcourts.co.nz/Property/844044/DU94852/24-24A-Cutten-Street">2018-04-10 15:40:21 +1200</a>
            <button class="btn" data-clipboard-target="#row_1"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_2">
          <td><img src="https://www.edinburghrealty.co.nz//files/6004/tn-424080.jpg" height="200" /></td>
          <td><a href="https://www.edinburghrealty.co.nz/listing/DO9791">98 Dunrobin Street, Waverley</a></td>
          <td></td>
          <td></td>
          <td>Edinburgh</td>
          <td>
            <a href="https://www.edinburghrealty.co.nz/listing/DO9791">2018-04-10 15:39:55 +1200</a>
            <button class="btn" data-clipboard-target="#row_2"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_3">
          <td><img src="https://transform0.ljhooker.com/APrngtGoaESYK0gGAQbTdfPCSRA=/610x350/http%3A%2F%2Fimages.ljhooker.co.nz%2FPROPERTY%2Fpictures%2F0002251725.JPG%3Fhash%3D1898555771.1984x1323" height="200" /></td>
          <td><a href="https://www.ljhooker.co.nz/HJQGF3/76-gordon-street-kurow">76 Gordon Street Kurow</a></td>
          <td>Buyer Enquiry Over $55,000</td>
          <td>With sections in Kurow in short supply and in demand, this 1069m2 section won't last long. For sale by deadline but open to prior offers you need to act now to secure this property. Being fully fenced and in an area amongst other modern homes it's a great prop...</td>
          <td>LJHooker</td>
          <td>
            <a href="https://www.ljhooker.co.nz/HJQGF3/76-gordon-street-kurow">2018-04-09 15:01:02 +1200</a>
            <button class="btn" data-clipboard-target="#row_3"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_4">
          <td><img src="https://southernwiderealestate.co.nz/assets/listings/_resampled/FillWyIzMDAiLCIyMDAiXQ/SWCU11080_01.jpg" height="200" /></td>
          <td><a href="https://southernwiderealestate.co.nz/listing/SWCU11080">32 Thomas Street, Ranfurly</a></td>
          <td>$199,000</td>
          <td>You will be impressed by this new exclusive listing in Central Ranfurly. The home comprises of 2 bedrooms (with built in storage), open plan lounge/dining/kitchen areas, a modern bathroom, and a recently painted interior. The large private section is well maintained, has established gardens, and is fully fenced. The...</td>
          <td>Southern Wide</td>
          <td>
            <a href="https://southernwiderealestate.co.nz/listing/SWCU11080">2018-04-06 20:02:13 +1200</a>
            <button class="btn" data-clipboard-target="#row_4"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_5">
          <td><img src="https://transform0.ljhooker.com/DFG1T-16Ipgxpn4ZAZmEKYf44Xo=/610x350/http%3A%2F%2Fimages.ljhooker.co.nz%2FPROPERTY%2Fpictures%2F0002251723.JPG%3Fhash%3D1159503540.1984x1323" height="200" /></td>
          <td><a href="https://www.ljhooker.co.nz/HH4GF3/5-ranfurly-street-kurow">5 Ranfurly Street Kurow</a></td>
          <td>Buyer Enquiry Over $145,000</td>
          <td>Ripe for renovation this 3-4 bedroom home, on a prominent corner site, is ready for you to put your mark on. Being located close to town you can leave the car in the modern garage and walk to the shops and restaurants. At 1226m2 the land has many possibilities...</td>
          <td>LJHooker</td>
          <td>
            <a href="https://www.ljhooker.co.nz/HH4GF3/5-ranfurly-street-kurow">2018-04-06 20:01:09 +1200</a>
            <button class="btn" data-clipboard-target="#row_5"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_6">
          <td><img src="https://southernwiderealestate.co.nz/assets/listings/_resampled/FillWyIzMDAiLCIyMDAiXQ/SWDU148_01.jpg" height="200" /></td>
          <td><a href="https://southernwiderealestate.co.nz/listing/SWDU148"></a></td>
          <td>BY NEGOTIATION</td>
          <td>Welcome to this four bedroom character home in the heart of Mosgiel. The open plan living area is the hub of the home with its dining, lounge area and modernised kitchen. It has great indoor / outdoor flow to the fully fenced flat section catching all day sun. The kids and pets have a fantastic yard to play in and ther...</td>
          <td>Southern Wide</td>
          <td>
            <a href="https://southernwiderealestate.co.nz/listing/SWDU148">2018-04-06 15:02:00 +1200</a>
            <button class="btn" data-clipboard-target="#row_6"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_7">
          <td><img src="https://www.edinburghrealty.co.nz//files/5999/tn-415364.jpg" height="200" /></td>
          <td><a href="https://www.edinburghrealty.co.nz/listing/DO9779">103D Scroggs Hill Road, Brighton</a></td>
          <td></td>
          <td></td>
          <td>Edinburgh</td>
          <td>
            <a href="https://www.edinburghrealty.co.nz/listing/DO9779">2018-04-06 15:00:31 +1200</a>
            <button class="btn" data-clipboard-target="#row_7"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_8">
          <td><img src="https://www.edinburghrealty.co.nz//files/6001/tn-415378.jpg" height="200" /></td>
          <td><a href="https://www.edinburghrealty.co.nz/listing/DO9785">3 Lockharts Road, Lawrence</a></td>
          <td></td>
          <td></td>
          <td>Edinburgh</td>
          <td>
            <a href="https://www.edinburghrealty.co.nz/listing/DO9785">2018-04-06 15:00:31 +1200</a>
            <button class="btn" data-clipboard-target="#row_8"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_9">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3296796/ab1086bff36f494e40681a54e6471101.crop.280x250.jpg?1522897406266" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3296796">35 Ravelston Street, St Kilda</a></td>
          <td>Offers Over $229,000</td>
          <td>Beginners Luck, Priced to sell</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3296796">2018-04-05 15:03:39 +1200</a>
            <button class="btn" data-clipboard-target="#row_9"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_10">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3296794/87f9a4614539ccbac7bb918b3debd680.crop.280x250.jpg?1522897406258" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3296794">11 Graham Street, Mosgiel</a></td>
          <td>Negotiation</td>
          <td>Affordable in Mosgiel, Must be sold</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3296794">2018-04-05 15:03:39 +1200</a>
            <button class="btn" data-clipboard-target="#row_10"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_11">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3296950/dedb66957fbee5c5cf088a6328d298ab.crop.280x250.jpg?1522897406245" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3296950">5 Ranfurly Street, Oamaru</a></td>
          <td>Deadline Treaty</td>
          <td>Character In Kurow</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3296950">2018-04-05 15:03:39 +1200</a>
            <button class="btn" data-clipboard-target="#row_11"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_12">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3296960/948d580c8ba2ed590285a557b23d8283.crop.280x250.jpg?1522897406234" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3296960">37 Severn Street, Oamaru</a></td>
          <td>Deadline Treaty</td>
          <td>Ready, Set, Go!</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3296960">2018-04-05 15:03:39 +1200</a>
            <button class="btn" data-clipboard-target="#row_12"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_13">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3296956/ec767f67db3e330782090b8bb6b6e55d.crop.280x250.jpg?1522897406224" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3296956">7 Ranfurly Street, Kurow</a></td>
          <td>Deadline Treaty</td>
          <td>Kurow Section Act Now!</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3296956">2018-04-05 15:03:39 +1200</a>
            <button class="btn" data-clipboard-target="#row_13"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_14">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3297106/74eb54424b813e7b4a4a6d74ddfb2c83.crop.280x250.jpg?1522897406219" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3297106">29 Alexander Street, Abbotsford</a></td>
          <td>Enquiries Over $299,000</td>
          <td>The Perfect Choice</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3297106">2018-04-05 15:03:39 +1200</a>
            <button class="btn" data-clipboard-target="#row_14"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_15">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3297108/4ec5adf29c8a188ff1f90bf9734977be.crop.280x250.jpg?1522897406209" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3297108">16 Patrick Street, Mornington</a></td>
          <td>Tender</td>
          <td>Radiates Charm</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3297108">2018-04-05 15:03:39 +1200</a>
            <button class="btn" data-clipboard-target="#row_15"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_16">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3297110/2694e5263d1e5c07c35cf0bd6d4ac5d4.crop.280x250.jpg?1522897406203" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3297110">22 & 24 Rockside Road, Glenleith</a></td>
          <td>Enquiries Over $199,000</td>
          <td>Birds and Fauna...</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3297110">2018-04-05 15:03:39 +1200</a>
            <button class="btn" data-clipboard-target="#row_16"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_17">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3297113/6b8fc494f038d79eb03cbdedc0b4fde7.crop.280x250.jpg?1522897406166" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3297113">31 Carr Street, North East Valley</a></td>
          <td>Negotiation</td>
          <td>Perfect starter in Real Estate</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3297113">2018-04-05 15:03:39 +1200</a>
            <button class="btn" data-clipboard-target="#row_17"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_18">
          <td><img src="http://metrorealty.co.nz/image.php?f=454921.jpg" height="200" /></td>
          <td><a href="http://metrorealty.co.nz/details.php?l=17967">Offers Over: $279,000</a></td>
          <td>Open Home</td>
          <td>This much loved 1960s summerhill stone, home presents a rare opportunity in this superb location. Presented in original yet mint condition, this class…read more.</td>
          <td>Metro</td>
          <td>
            <a href="http://metrorealty.co.nz/details.php?l=17967">2018-04-05 15:02:59 +1200</a>
            <button class="btn" data-clipboard-target="#row_18"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_19">
          <td><img src="http://metrorealty.co.nz/image.php?f=454938.jpg" height="200" /></td>
          <td><a href="http://metrorealty.co.nz/details.php?l=17970">Offers Over: $229,000</a></td>
          <td>Open Home</td>
          <td>Are you looking for a practical first home or investment? This solid 2 bedroom gem represents excellent value for money and could be just what you are…read more.</td>
          <td>Metro</td>
          <td>
            <a href="http://metrorealty.co.nz/details.php?l=17970">2018-04-05 15:02:59 +1200</a>
            <button class="btn" data-clipboard-target="#row_19"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_20">
          <td><img src="http://metrorealty.co.nz/image.php?f=454980.jpg" height="200" /></td>
          <td><a href="http://metrorealty.co.nz/details.php?l=17971">14 Lisburn Avenue, Caversham</a></td>
          <td>By Negotiation</td>
          <td>Beautifully presented, warm and comfortable this attractive brick and tile home offers open plan modern kitchen (with quality stainless appliances) to…read more.</td>
          <td>Metro</td>
          <td>
            <a href="http://metrorealty.co.nz/details.php?l=17971">2018-04-05 15:02:59 +1200</a>
            <button class="btn" data-clipboard-target="#row_20"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_21">
          <td><img src="https://transform0.ljhooker.com/DFG1T-16Ipgxpn4ZAZmEKYf44Xo=/610x350/http%3A%2F%2Fimages.ljhooker.co.nz%2FPROPERTY%2Fpictures%2F0002251723.JPG%3Fhash%3D1159503540.1984x1323" height="200" /></td>
          <td><a href="https://www.ljhooker.co.nz/HH4GF3/5-ranfurly-street-oamaru">5 Ranfurly Street Oamaru</a></td>
          <td>Buyer Enquiry Over $145,000</td>
          <td>Ripe for renovation this 3-4 bedroom home, on a prominent corner site, is ready for you to put your mark on. Being located close to town you can leave the car in the modern garage and walk to the shops and restaurants. At 1226m2 the land has many possibilities...</td>
          <td>LJHooker</td>
          <td>
            <a href="https://www.ljhooker.co.nz/HH4GF3/5-ranfurly-street-oamaru">2018-04-05 15:02:36 +1200</a>
            <button class="btn" data-clipboard-target="#row_21"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_22">
          <td><img src="https://transform0.ljhooker.com/APrngtGoaESYK0gGAQbTdfPCSRA=/610x350/http%3A%2F%2Fimages.ljhooker.co.nz%2FPROPERTY%2Fpictures%2F0002251725.JPG%3Fhash%3D1898555771.1984x1323" height="200" /></td>
          <td><a href="https://www.ljhooker.co.nz/HJQGF3/7-ranfurly-street-kurow">7 Ranfurly Street Kurow</a></td>
          <td>Buyer Enquiry Over $55,000</td>
          <td>With sections in Kurow in short supply and in demand, this 1069m2 section won't last long. For sale by deadline but open to prior offers you need to act now to secure this property. Being fully fenced and in an area amongst other modern homes it's a great prop...</td>
          <td>LJHooker</td>
          <td>
            <a href="https://www.ljhooker.co.nz/HJQGF3/7-ranfurly-street-kurow">2018-04-05 15:02:36 +1200</a>
            <button class="btn" data-clipboard-target="#row_22"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_23">
          <td><img src="http://www.cloudproperty.com.au/photos/view/25634/314450/740/463/crop/25634_314450_1024x640.jpg" height="200" /></td>
          <td><a href="http://cutlers.co.nz/listing/18875202-16-patrick-street-mornington-9011/">16 Patrick Street, Mornington 9011</a></td>
          <td>Tender</td>
          <td></td>
          <td>Cutlers</td>
          <td>
            <a href="http://cutlers.co.nz/listing/18875202-16-patrick-street-mornington-9011/">2018-04-05 15:01:54 +1200</a>
            <button class="btn" data-clipboard-target="#row_23"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_24">
          <td><img src="http://www.cloudproperty.com.au/photos/view/25660/314743/740/463/crop/25660_314743_1024x640.jpg" height="200" /></td>
          <td><a href="http://cutlers.co.nz/listing/18885465-62-whyte-road-waianakarua-9410/">62 Whyte Road, Waianakarua 9410</a></td>
          <td>$149,000</td>
          <td></td>
          <td>Cutlers</td>
          <td>
            <a href="http://cutlers.co.nz/listing/18885465-62-whyte-road-waianakarua-9410/">2018-04-05 15:01:54 +1200</a>
            <button class="btn" data-clipboard-target="#row_24"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_25">
          <td><img src="http://www.cloudproperty.com.au/photos/view/25639/314514/740/463/crop/25639_314514_1024x640.jpg" height="200" /></td>
          <td><a href="http://cutlers.co.nz/listing/18885834-31-carr-street-north-east-valley-9010/">31 Carr Street, North East Valley 9010</a></td>
          <td>By Negotiation</td>
          <td></td>
          <td>Cutlers</td>
          <td>
            <a href="http://cutlers.co.nz/listing/18885834-31-carr-street-north-east-valley-9010/">2018-04-05 15:01:54 +1200</a>
            <button class="btn" data-clipboard-target="#row_25"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_26">
          <td><img src="http://www.cloudproperty.com.au/photos/view/25654/314658/740/463/crop/25654_314658_1024x640.jpg" height="200" /></td>
          <td><a href="http://cutlers.co.nz/listing/18843707-29-alexander-street-abbotsford-9018/">29 Alexander Street, Abbotsford 9018</a></td>
          <td>Enquiries Over $299,000</td>
          <td></td>
          <td>Cutlers</td>
          <td>
            <a href="http://cutlers.co.nz/listing/18843707-29-alexander-street-abbotsford-9018/">2018-04-05 15:01:54 +1200</a>
            <button class="btn" data-clipboard-target="#row_26"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_27">
          <td><img src="http://www.cloudproperty.com.au/photos/view/25636/314478/740/463/crop/25636_314478_1024x640.jpg" height="200" /></td>
          <td><a href="http://cutlers.co.nz/listing/18885370-22-24-rockside-road-glenleith-9010/">22 & 24 Rockside Road, Glenleith 9010</a></td>
          <td>Enquiries Over $199000</td>
          <td></td>
          <td>Cutlers</td>
          <td>
            <a href="http://cutlers.co.nz/listing/18885370-22-24-rockside-road-glenleith-9010/">2018-04-05 15:01:54 +1200</a>
            <button class="btn" data-clipboard-target="#row_27"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_28">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3295894/1a87566947a9cc4448982ddc8cab232e.crop.280x250.jpg?1522879445386" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3295894">8 Culloden Street, Kaikorai</a></td>
          <td>Enquiries Over $299,000</td>
          <td>Oh Yes!</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3295894">2018-04-05 10:04:19 +1200</a>
            <button class="btn" data-clipboard-target="#row_28"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_29">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3296230/bd8f68399ccbc6d9ec7511b543bb8aa7.crop.280x250.jpg?1522879445376" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3296230">36 Norwich Street, Hampden</a></td>
          <td>Negotiable From $199,000</td>
          <td>Set Up Home In Hampden</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3296230">2018-04-05 10:04:19 +1200</a>
            <button class="btn" data-clipboard-target="#row_29"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_30">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3296240/832c3c9f92d6ec14c4817d7353161319.crop.280x250.jpg?1522879445349" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3296240">24 Tay Street, Oamaru</a></td>
          <td>Negotiable From $249,000</td>
          <td>STEP UP & SEA FOR YOURSELF</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3296240">2018-04-05 10:04:19 +1200</a>
            <button class="btn" data-clipboard-target="#row_30"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_31">
          <td><img src="https://southernwiderealestate.co.nz/assets/listings/_resampled/FillWyIzMDAiLCIyMDAiXQ/SWDR0143_01.jpg" height="200" /></td>
          <td><a href="https://southernwiderealestate.co.nz/listing/SWDR0143"></a></td>
          <td>BY NEGOTIATION</td>
          <td>If you are seeking a lifestyle away from the hustle and bustle of town life then Middlemarch is a perfect option, with being only an hours drive from Dunedin. You will be able to enjoy the diversity that it has to offer including fishing in the Taieri River, walks to the Salt Lake or Rock and Pillars or just spend tim...</td>
          <td>Southern Wide</td>
          <td>
            <a href="https://southernwiderealestate.co.nz/listing/SWDR0143">2018-04-04 22:51:43 +1200</a>
            <button class="btn" data-clipboard-target="#row_31"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_32">
          <td><img src="https://southernwiderealestate.co.nz/assets/listings/_resampled/FillWyIzMDAiLCIyMDAiXQ/SWCU11077_01.jpg" height="200" /></td>
          <td><a href="https://southernwiderealestate.co.nz/listing/SWCU11077">5565 State Highway 8, Millars Flat, Roxburgh</a></td>
          <td>$59,000</td>
          <td>Situated close to Millers Flat on State Highway 8, this Rural (1A) 1510m2 section of land could serve a variety of purposes. There is a power box to the site, which makes it ideal for holiday campers looking to have their very own slice of Central Otago at a rock bottom price. Additional land for stock is another vi...</td>
          <td>Southern Wide</td>
          <td>
            <a href="https://southernwiderealestate.co.nz/listing/SWCU11077">2018-04-04 22:51:43 +1200</a>
            <button class="btn" data-clipboard-target="#row_32"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_33">
          <td><img src="https://southernwiderealestate.co.nz/assets/listings/_resampled/FillWyIzMDAiLCIyMDAiXQ/SWCU11078_01.jpg" height="200" /></td>
          <td><a href="https://southernwiderealestate.co.nz/listing/SWCU11078">5569 State Highway 8, Millars Flat, Roxburgh</a></td>
          <td>$65,000</td>
          <td>Seldom do sections like this one come to the market! With beautiful river front views this 908m2 section on State Highway 8 offers an affordable opportunity to create your very own sanctuary! Walking distance to Millers Flat and only two minutes away from the local tavern. This blank canvas could well suit your nee...</td>
          <td>Southern Wide</td>
          <td>
            <a href="https://southernwiderealestate.co.nz/listing/SWCU11078">2018-04-04 22:51:43 +1200</a>
            <button class="btn" data-clipboard-target="#row_33"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_34">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3291125/0a756db2c76ab2c1a6e15eb2313b9315.crop.280x250.jpg?1522839080573" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3291125">43 Dundonald Street, Tainui</a></td>
          <td>Negotiation</td>
          <td>Top Location with Sun & Outlook</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3291125">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_34"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_35">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3291121/b9b31bb9d4f4d671d8cba467c36a1dc6.crop.280x250.jpg?1522839080566" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3291121">16 Pencarrow Street, Caversham</a></td>
          <td>Deadline Treaty</td>
          <td>A Real Gem</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3291121">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_35"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_36">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3291159/edede4acef88b8907caf13031c8f889f.crop.280x250.jpg?1522839080547" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3291159">493F Leith Street, North Dunedin</a></td>
          <td>$189,000</td>
          <td>Low maintenance campus unit! 493F Leith St,</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3291159">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_36"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_37">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3291158/2336d5bd8b93200dde7b62a6281b42f0.crop.280x250.jpg?1522839080538" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3291158">42 Hope Street, Dunedin Central</a></td>
          <td>Deadline Treaty</td>
          <td>Entry-level do-up project or inner city rental</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3291158">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_37"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_38">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3291280/8f097cda95b868312618e2f34f5b1ab3.crop.280x250.jpg?1522839080532" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3291280">27 Plunket Street, Saint Kilda</a></td>
          <td>Enquiries Over $279,000</td>
          <td>Attention First Home Buyers</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3291280">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_38"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_39">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3291595/898a853cd8b80cec4f1e8ac62f5e53d8.crop.280x250.jpg?1522839080526" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3291595">24 Scotia Street, Waikouaiti</a></td>
          <td>$289,000</td>
          <td>Easy Care Living</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3291595">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_39"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_40">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3291599/8922c7a4307623d16e6c524bd19c564f.crop.280x250.jpg?1522839080499" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3291599">150 Stenhope Crescent, Corstorphine</a></td>
          <td>Negotiation</td>
          <td>Ready For You...</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3291599">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_40"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_41">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3291731/8f49cc6932d9fb669dbcde653a3cd0d9.crop.280x250.jpg?1522839080493" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3291731">101I North Taieri Road, Abbotsford</a></td>
          <td>Negotiation</td>
          <td>Ever Dreamt Of Building</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3291731">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_41"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_42">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3292998/815e15e9355955fd8b6128e14c4f980e.crop.280x250.jpg?1522839080486" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3292998">43 Corstorphine Road, Corstorphine</a></td>
          <td>Enquiries Over $239,000</td>
          <td>Excellent Value Here</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3292998">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_42"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_43">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3293143/e829a08d456c7374314bf6f1a1e8bd6e.crop.280x250.jpg?1522839080480" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3293143">15 Moana Street, Aramoana</a></td>
          <td>$250,000</td>
          <td>Vendor Transferring</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3293143">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_43"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_44">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3293306/9374a9219db1424b9ee788529a5a3de1.crop.280x250.jpg?1522839080475" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3293306">19 Sunbury Street, Andersons Bay</a></td>
          <td>Negotiation</td>
          <td>Savvy Buying on Sunbury</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3293306">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_44"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_45">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3293377/abe4bb8e28502a0767d7fd20c952965a.crop.280x250.jpg?1522839080459" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3293377">518 South Road, Calton Hill</a></td>
          <td>Negotiation</td>
          <td>New Year New Start</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3293377">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_45"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_46">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3293691/d91eadd53c0c0c859f5e78441093b585.crop.280x250.jpg?1522839080448" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3293691">6 Argyle Street, Mosgiel</a></td>
          <td>Auction</td>
          <td>It Has To GO!!</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3293691">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_46"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_47">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3294262/98b100433d439512adeb59b0ee808121.crop.280x250.jpg?1522839080439" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3294262">50 Frome Street, Oamaru</a></td>
          <td>Offers Over $238,000</td>
          <td>Family Friendly- Family Affordable</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3294262">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_47"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_48">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3295182/8ff8ccadf099212dc1b6d5dad2387ba8.crop.280x250.jpg?1522839080432" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3295182">21 Grove Avenue, Weston</a></td>
          <td>Enquiries Over $129,000</td>
          <td>Grove Avenue Section</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3295182">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_48"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_49">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3295291/82238f37736ff41037d8f3a1ecf8d53e.crop.280x250.jpg?1522839080426" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3295291">Lot 4 Cosy Dell Road, Herbert</a></td>
          <td>Negotiable From $199,000 Plus GST (if any)</td>
          <td>A LIFE AMONG TUIS, BEES & BELL BIRDS</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3295291">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_49"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_50">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3295524/2509aefbb44716f3594eae85081f2b62.crop.280x250.jpg?1522839080421" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3295524">42 Maryhill Terrace, Maryhill</a></td>
          <td>Enquiries Over $275,000</td>
          <td>Entry Level Art Deco</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3295524">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_50"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_51">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3295582/46cc10f51a327fc9a0c62216511b6270.crop.280x250.jpg?1522839080410" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3295582">22 Henry Street, Maori Hill</a></td>
          <td>$199,000</td>
          <td>Up For The Challenge?</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3295582">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_51"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_52">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3295735/73106be5cf479b106087c4d05b1c8c0f.crop.280x250.jpg?1522839080405" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3295735">24 Foyle Street, Oamaru</a></td>
          <td>Deadline Treaty</td>
          <td>You Can't Go Wrong Here</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3295735">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_52"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_53">
          <td><img src="https://mediaserver.realestate.co.nz/listings/3295739/c018a9261a07b603d20280340d1170b7.crop.280x250.jpg?1522839080380" height="200" /></td>
          <td><a href="https://www.realestate.co.nz/3295739">41 Fernbrook Road, Oamaru</a></td>
          <td>Deadline Treaty</td>
          <td>Great Opportunity To Own On Fernbrook</td>
          <td>Realestate</td>
          <td>
            <a href="https://www.realestate.co.nz/3295739">2018-04-04 22:51:32 +1200</a>
            <button class="btn" data-clipboard-target="#row_53"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_54">
          <td><img src="https://assets.boxdice.com.au/nidd/listings/747/d28950ff.jpg?crop=600x300" height="200" /></td>
          <td><a href="https://nidd.co.nz/listing-detail?listing_id=17923">57 Bellona Street, Saint Kilda, Dunedin</a></td>
          <td>Enquiries over $319,000</td>
          <td></td>
          <td>Nidd</td>
          <td>
            <a href="https://nidd.co.nz/listing-detail?listing_id=17923">2018-04-04 22:50:59 +1200</a>
            <button class="btn" data-clipboard-target="#row_54"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_55">
          <td><img src="https://assets.boxdice.com.au/nidd/listings/773/2935db44.jpg?crop=600x300" height="200" /></td>
          <td><a href="https://nidd.co.nz/listing-detail?listing_id=18547">42 Maryhill Terrace, Maryhill, Dunedin</a></td>
          <td>Enquiries over $275,000</td>
          <td></td>
          <td>Nidd</td>
          <td>
            <a href="https://nidd.co.nz/listing-detail?listing_id=18547">2018-04-04 22:50:59 +1200</a>
            <button class="btn" data-clipboard-target="#row_55"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_56">
          <td><img src="https://assets.boxdice.com.au/nidd/listings/779/9f3ce508.jpg?crop=600x300" height="200" /></td>
          <td><a href="https://nidd.co.nz/listing-detail?listing_id=18615">8 Culloden Street, Kaikorai, Dunedin</a></td>
          <td>Enquiries over $299,000</td>
          <td></td>
          <td>Nidd</td>
          <td>
            <a href="https://nidd.co.nz/listing-detail?listing_id=18615">2018-04-04 22:50:59 +1200</a>
            <button class="btn" data-clipboard-target="#row_56"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_57">
          <td><img src="http://metrorealty.co.nz/image.php?f=453999.jpg" height="200" /></td>
          <td><a href="http://metrorealty.co.nz/details.php?l=17939">By Negotiation</a></td>
          <td>Open Home</td>
          <td>Deadline sale 11/04/18, 4.00pm First time on the market in approximately six decades. This spacious three or four bedroom home is located in one of…read more.</td>
          <td>Metro</td>
          <td>
            <a href="http://metrorealty.co.nz/details.php?l=17939">2018-04-04 22:50:50 +1200</a>
            <button class="btn" data-clipboard-target="#row_57"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_58">
          <td><img src="http://metrorealty.co.nz/image.php?f=454180.jpg" height="200" /></td>
          <td><a href="http://metrorealty.co.nz/details.php?l=17944">Deadline Treaty</a></td>
          <td>Open Home</td>
          <td>Deadline sale 19/04/18 4.00pm (prior offers considered) Located on the flat but out of the flood zone, this solid and secure 2 bedroom townhouse is…read more.</td>
          <td>Metro</td>
          <td>
            <a href="http://metrorealty.co.nz/details.php?l=17944">2018-04-04 22:50:50 +1200</a>
            <button class="btn" data-clipboard-target="#row_58"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_59">
          <td><img src="http://metrorealty.co.nz/image.php?f=454186.jpg" height="200" /></td>
          <td><a href="http://metrorealty.co.nz/details.php?l=17945">By Negotiation</a></td>
          <td>Open Home</td>
          <td>Positioned perfectly to enjoy the wonderful outlook and capture ample sunshine is this great first home handy to good schools and an easy walk to the …read more.</td>
          <td>Metro</td>
          <td>
            <a href="http://metrorealty.co.nz/details.php?l=17945">2018-04-04 22:50:50 +1200</a>
            <button class="btn" data-clipboard-target="#row_59"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_60">
          <td><img src="http://metrorealty.co.nz/image.php?f=454207.jpg" height="200" /></td>
          <td><a href="http://metrorealty.co.nz/details.php?l=17946">25 Belford Street, Waverley</a></td>
          <td>By Negotiation</td>
          <td>Deadline sale 16/04/18 prior offers considered Beautifully presented 2 bedroom home, with all the hard work done. Renovated to a high standard by t…read more.</td>
          <td>Metro</td>
          <td>
            <a href="http://metrorealty.co.nz/details.php?l=17946">2018-04-04 22:50:50 +1200</a>
            <button class="btn" data-clipboard-target="#row_60"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_61">
          <td><img src="http://metrorealty.co.nz/image.php?f=454317.jpg" height="200" /></td>
          <td><a href="http://metrorealty.co.nz/details.php?l=17949">By Negotiation</a></td>
          <td>Open Home</td>
          <td>Nestled among the hills of Andersons Bay sits this 2-level, 3-bedroom home that is positioned for lovely views over to the harbour and Bayfield inlet.…read more.</td>
          <td>Metro</td>
          <td>
            <a href="http://metrorealty.co.nz/details.php?l=17949">2018-04-04 22:50:50 +1200</a>
            <button class="btn" data-clipboard-target="#row_61"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_62">
          <td><img src="http://metrorealty.co.nz/image.php?f=454795.jpg" height="200" /></td>
          <td><a href="http://metrorealty.co.nz/details.php?l=17961">By Negotiation</a></td>
          <td>Open Home</td>
          <td>This fantastic 3 bedroom home provides easy care and enjoyable living, just minutes from the ever-popular St Clair beach, park and cafe scene. Step in…read more.</td>
          <td>Metro</td>
          <td>
            <a href="http://metrorealty.co.nz/details.php?l=17961">2018-04-04 22:50:50 +1200</a>
            <button class="btn" data-clipboard-target="#row_62"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_63">
          <td><img src="http://photos.harcourts.co.nz/V2/000/029/572/389-DU94839-Dunedin-City.jpg" height="200" /></td>
          <td><a href="http://harcourts.co.nz/Property/842873/DU94839/673-Great-King-Street">Dunedin North, 673 Great King Street</a></td>
          <td>Auction 18 Apr 2018 *</td>
          <td>University zone 5 bedroom villa in much need of a handyman's attention, or a developer who knows the value of redeveloping a prime site like this. Surrounded by commercial restaurants and activity...</td>
          <td>Harcourts</td>
          <td>
            <a href="http://harcourts.co.nz/Property/842873/DU94839/673-Great-King-Street">2018-04-04 22:50:22 +1200</a>
            <button class="btn" data-clipboard-target="#row_63"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_64">
          <td><img src="http://photos.harcourts.co.nz/V2/000/029/598/815-DU94841-Dunedin-City.jpg" height="200" /></td>
          <td><a href="http://harcourts.co.nz/Property/842952/DU94841/101I-North-Taieri-Road">Abbotsford, 101I North Taieri Road</a></td>
          <td>Price by Negotiation</td>
          <td>Well make your dream come true with this sunny elevated 852m2 section in a new cul de sac. 13 sections with a rural/ Saddle Hill panorama. It is a site that you can build something spectacular to...</td>
          <td>Harcourts</td>
          <td>
            <a href="http://harcourts.co.nz/Property/842952/DU94841/101I-North-Taieri-Road">2018-04-04 22:50:22 +1200</a>
            <button class="btn" data-clipboard-target="#row_64"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_65">
          <td><img src="http://www.freedomrealty.net.nz/wordpress/wp-content/uploads/2018/03/1-800x581-244x163.jpg" height="200" /></td>
          <td><a href="http://www.freedomrealty.net.nz/property/1038/for-sale/27-plunket-street-st-kilda/">27 Plunket Street, St Kilda</a></td>
          <td>  </td>
          <td>Fantastic opportunity to get into the property market with a large 3…</td>
          <td>Freedom</td>
          <td>
            <a href="http://www.freedomrealty.net.nz/property/1038/for-sale/27-plunket-street-st-kilda/">2018-04-04 22:50:13 +1200</a>
            <button class="btn" data-clipboard-target="#row_65"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_66">
          <td><img src="https://www.edinburghrealty.co.nz//files/5925/tn-361095.jpg" height="200" /></td>
          <td><a href="https://www.edinburghrealty.co.nz/listing/DO9745"></a></td>
          <td></td>
          <td></td>
          <td>Edinburgh</td>
          <td>
            <a href="https://www.edinburghrealty.co.nz/listing/DO9745">2018-04-04 22:50:03 +1200</a>
            <button class="btn" data-clipboard-target="#row_66"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_67">
          <td><img src="https://www.edinburghrealty.co.nz//files/5978/tn-396817.jpg" height="200" /></td>
          <td><a href="https://www.edinburghrealty.co.nz/listing/DO9777">42 Hope Street, Dunedin Central</a></td>
          <td></td>
          <td></td>
          <td>Edinburgh</td>
          <td>
            <a href="https://www.edinburghrealty.co.nz/listing/DO9777">2018-04-04 22:50:03 +1200</a>
            <button class="btn" data-clipboard-target="#row_67"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_68">
          <td><img src="https://www.edinburghrealty.co.nz//files/5982/tn-396852.jpg" height="200" /></td>
          <td><a href="https://www.edinburghrealty.co.nz/listing/DO9772">493F Leith Street, Dunedin North</a></td>
          <td></td>
          <td></td>
          <td>Edinburgh</td>
          <td>
            <a href="https://www.edinburghrealty.co.nz/listing/DO9772">2018-04-04 22:50:03 +1200</a>
            <button class="btn" data-clipboard-target="#row_68"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_69">
          <td><img src="http://www.cloudproperty.com.au/photos/view/24484/304713/740/463/crop/24484_304713_1024x640.jpg" height="200" /></td>
          <td><a href="http://cutlers.co.nz/listing/18855400-24-scotia-street-waikouaiti-9510/">24 Scotia Street, Waikouaiti 9510</a></td>
          <td>$289,000</td>
          <td></td>
          <td>Cutlers</td>
          <td>
            <a href="http://cutlers.co.nz/listing/18855400-24-scotia-street-waikouaiti-9510/">2018-04-04 22:49:41 +1200</a>
            <button class="btn" data-clipboard-target="#row_69"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_70">
          <td><img src="http://www.cloudproperty.com.au/photos/view/24487/304763/740/463/crop/24487_304763_1024x640.jpg" height="200" /></td>
          <td><a href="http://cutlers.co.nz/listing/18855575-150-stenhope-crescent-corstorphine-9012/">150 Stenhope Crescent, Corstorphine 9012</a></td>
          <td>By Negotiation</td>
          <td></td>
          <td>Cutlers</td>
          <td>
            <a href="http://cutlers.co.nz/listing/18855575-150-stenhope-crescent-corstorphine-9012/">2018-04-04 22:49:41 +1200</a>
            <button class="btn" data-clipboard-target="#row_70"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_71">
          <td><img src="https://assets.boxdice.com.au/nidd/listings/732/5d88d014.jpg?crop=600x300" height="200" /></td>
          <td><a href="https://nidd.co.nz/listing-detail?listing_id=17310">30 Adderley Terrace, Ravensbourne, Dunedin</a></td>
          <td>Enquiries over $349,000</td>
          <td></td>
          <td>Nidd</td>
          <td>
            <a href="https://nidd.co.nz/listing-detail?listing_id=17310">2018-03-27 16:41:45 +1300</a>
            <button class="btn" data-clipboard-target="#row_71"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_72">
          <td><img src="http://metrorealty.co.nz/image.php?f=453816.jpg" height="200" /></td>
          <td><a href="http://metrorealty.co.nz/details.php?l=17938">9 Kohi Place, Port Chalmers</a></td>
          <td>By Negotiation</td>
          <td>This 1970s brick home with aluminium joinery is located in a cul-de-sac with other tidy homes in popular Port Chalmers. Three double bedrooms with bu…read more.</td>
          <td>Metro</td>
          <td>
            <a href="http://metrorealty.co.nz/details.php?l=17938">2018-03-27 16:41:35 +1300</a>
            <button class="btn" data-clipboard-target="#row_72"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_73">
          <td><img src="https://transform0.ljhooker.com/zJ_56AH2DzDwfXwtSvAGwZJp08Y=/610x350/http%3A%2F%2Fimages.ljhooker.co.nz%2FPROPERTY%2Fpictures%2F0002249399.jpg%3Fhash%3D1271587961.1200x900" height="200" /></td>
          <td><a href="https://www.ljhooker.co.nz/1UEPGDS/71-greenacres-street-macandrew-bay">71 Greenacres Street Macandrew Bay</a></td>
          <td>Set Sale</td>
          <td>Set sale by 18/04/2018 Here is your golden opportunity to build in the Bay. This 564m2 site is conveniently located for an easy walk to school, the beach, the bus, shops etc or to take a hike up the Greenacres track to Highcliff Road at Pukehiki....</td>
          <td>LJHooker</td>
          <td>
            <a href="https://www.ljhooker.co.nz/1UEPGDS/71-greenacres-street-macandrew-bay">2018-03-27 16:41:14 +1300</a>
            <button class="btn" data-clipboard-target="#row_73"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_74">
          <td><img src="http://photos.harcourts.co.nz/V2/000/029/530/661-DU94843-Dunedin-City.jpg" height="200" /></td>
          <td><a href="http://harcourts.co.nz/Property/842704/DU94843/3-Geelong-Street">Waikouaiti, 3 Geelong Street</a></td>
          <td>$259,000</td>
          <td>Escape the city and the rent trap to the fabulous seaside township just minutes from the awesome Waikouaiti and Karitane beaches and only 30 minutes from Dunedins CBD. Hand crafted from native...</td>
          <td>Harcourts</td>
          <td>
            <a href="http://harcourts.co.nz/Property/842704/DU94843/3-Geelong-Street">2018-03-27 16:41:01 +1300</a>
            <button class="btn" data-clipboard-target="#row_74"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_75">
          <td><img src="https://www.edinburghrealty.co.nz//files/5973/tn-395140.jpg" height="200" /></td>
          <td><a href="https://www.edinburghrealty.co.nz/listing/CR1312">51 Perriam Place, Pisa Moorings</a></td>
          <td></td>
          <td></td>
          <td>Edinburgh</td>
          <td>
            <a href="https://www.edinburghrealty.co.nz/listing/CR1312">2018-03-27 16:40:42 +1300</a>
            <button class="btn" data-clipboard-target="#row_75"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
        <tr id="row_76">
          <td><img src="https://www.edinburghrealty.co.nz//files/5936/tn-386963.jpg" height="200" /></td>
          <td><a href="https://www.edinburghrealty.co.nz/listing/DO9751">189 Macandrew Road, South Dunedin</a></td>
          <td></td>
          <td></td>
          <td>Edinburgh</td>
          <td>
            <a href="https://www.edinburghrealty.co.nz/listing/DO9751">2018-03-27 10:09:43 +1300</a>
            <button class="btn" data-clipboard-target="#row_76"><img src='https://clipboardjs.com/assets/images/clippy.svg' /></button>
          </td>
        </tr>
</table><script>new Clipboard('.btn');</script>